<div class="px-20 py-8 text-white min-h-screen">
  <form (submit)="createPost()" class="mb-4 flex items-center gap-2">
    <input
      type="text"
      [(ngModel)]="newPostTitle"
      name="newPostTitle"
      placeholder="Enter post title"
      class="px-3 py-2 bg-white/10 border border-white/10 outline-0 rounded-md w-full text-white"
    />
    <button
      type="submit"
      class="bg-blue-600 hover:bg-blue-500 text-white font-semibold py-2 px-4 rounded whitespace-nowrap cursor-pointer"
    >
      Add Post
    </button>
  </form>

  <div class="mb-4">
    <p *ngIf="posts.length === 0" class="text-center text-gray-400">
      No posts available.
    </p>

    <ul *ngIf="posts.length > 0" class="space-y-2">
      <li
        *ngFor="let post of posts"
        class="p-4 bg-white/10 border border-white/10 rounded-md flex items-center justify-between"
      >
        <div>
          <p class="text-lg font-semibold">{{ post.title }}</p>
          <small class="text-gray-400">ID: {{ post.id }}</small>
        </div>

        <form
          (submit)="updatePost(post.id, post.newTitle)"
          class="flex items-center space-x-2"
        >
          <input
            type="text"
            [(ngModel)]="post.newTitle"
            name="editPostTitle"
            placeholder="Edit title"
            class="p-2 bg-white/10 border border-white/10 outline-0 rounded-md text-white"
          />
          <button
            type="submit"
            class="bg-yellow-600 hover:bg-yellow-500 text-white font-semibold py-2 px-3 rounded cursor-pointer"
          >
            Update
          </button>
          <button
            type="button"
            class="bg-red-600 hover:bg-red-500 text-white font-semibold py-2 px-3 rounded cursor-pointer"
            (click)="deletePost(post.id)"
          >
            Delete
          </button>
        </form>
      </li>
    </ul>
  </div>
</div>
