<div class="mb-4">
  <ng-container *ngIf="isLoading">
    <div class="min-h-[calc(100vh-30vh)] flex items-center justify-center">
      <h1 class="text-xl text-gray-300">Loading...</h1>
    </div>
  </ng-container>
  <p
    *ngIf="!isLoading && posts.length === 0"
    class="text-center text-gray-400"
  >
    No posts available.
  </p>

  <ul *ngIf="posts.length > 0" class="space-y-2">
    <li
      *ngFor="let post of posts"
      class="p-4 bg-white/10 border border-white/15 rounded-md flex items-center justify-between"
    >
      <div>
        <p class="text-lg font-semibold">{{ post.title }}</p>
        <small class="text-gray-400">ID: {{ post.id }}</small>
      </div>
      <div class="flex items-center gap-2">
        <app-put-api
          [post]="post"
          [apiUrl]="apiUrl"
          (postUpdated)="updatePostInList($event)"
        />
        <app-delete-api
          [post]="post"
          [apiUrl]="apiUrl"
          (postDeleted)="removePost($event)"
        />
      </div>
    </li>
  </ul>
</div>
