<app-create-post (postCreated)="onPostCreated($event)"></app-create-post>
<div class="mb-4">
  <ng-container *ngIf="isLoading">
    <div class="min-h-[calc(100vh-40vh)] flex items-center justify-center">
      <h1 class="text-xl text-gray-300">Loading...</h1>
    </div>
  </ng-container>
  <ul *ngIf="posts.length > 0" class="space-y-2">
    <li
      *ngFor="let post of posts"
      class="p-4 bg-white/10 border border-white/15 rounded-md flex items-center justify-between"
    >
      <div class="flex items-center space-x-4">
        <img
          *ngIf="post.image"
          [src]="post.image"
          alt="Post Image"
          class="w-16 h-16 rounded-md"
        />
        <div>
          <div class="space-x-2">
            <span class="text-lg font-semibold">{{ post.user.username }}</span>
            <span class="text-gray-400">{{ post.user.email }}</span>
          </div>
          <p class="font-medium text-gray-300">{{ post.title }}</p>
        </div>
      </div>
      <div
        *ngIf="post?.user?.id === user?.id"
        class="action-div flex items-center space-x-2"
      >
        <app-update-post
          [post]="post"
          (updated)="onPostUpdated($event)"
          (editingState)="onEditingState(post.id, $event)"
        ></app-update-post>
        <app-delete-post
          *ngIf="!isEditingMap[post.id]"
          [id]="post.id"
          (deleted)="onPostDeleted($event)"
        ></app-delete-post>
      </div>
    </li>
  </ul>
  <ng-container *ngIf="!isLoading && posts.length === 0">
    <div class="min-h-[calc(100vh-40vh)] flex items-center justify-center">
      <h1 class="text-lg text-gray-400">No posts available.</h1>
    </div>
  </ng-container>
</div>
